@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3 style="margin-top:30px; margin-left:10px; margin-bottom:30px;"><b>ÜRÜNLER LİSTESİ</b></h3>

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{
    <div style="margin-top:15px;">
        @Html.LabelFor(x => x.URUNID)
        @Html.TextBoxFor(x => x.URUNID, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:15px;">
        @Html.LabelFor(x => x.URUNAD)
        @Html.TextBoxFor(x => x.URUNAD, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        @Html.LabelFor(x => x.MARKA)
        @Html.TextBoxFor(x => x.MARKA, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        @Html.LabelFor(x => x.URUNKATEGORI)
        @Html.DropDownListFor(x => x.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new {@class = "form-control"})
    </div>
    <div style="margin-top:15px;">
        @Html.LabelFor(x => x.FIYAT)
        @Html.TextBoxFor(x => x.FIYAT, new {@class="form-control"})
    </div>
    <div style="margin-top:15px;">
        @Html.LabelFor(x => x.STOK)
        @Html.TextBoxFor(x => x.STOK, new {@class="form-control"})
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-warning">Ürün Güncelle</button>
    </div>
}

